html{
    font-size: 10px;  
  }
  
  @media only screen and (max-width : 192rem){
    html{font-size: calc(10vw / 1920 * 100);}
  }
  @media only screen and (max-width : 800px){
    html{
      font-size: calc(10vw / 800 * 100);
    }
  }

.line {
    display: flex;
    justify-content: space-between;
}

.tile.flex {
    display: flex;
}


::-webkit-scrollbar-thumb {
    display: none;
}


::-webkit-scrollbar {
    display: none;
}

#v{
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: red;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
}

div#viewBox {
    width: fit-content;
}

.card {
    margin: 2rem;
    box-shadow: 0 0 2rem -0.5rem #FF8A65;
    transition: .3s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 2rem 2rem #FF8A65;
}

body {
    background: #002855;
}

div#hover {
    background: #002855;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: .3s;
    filter: opacity(1);
}

.hidden{
    display: none;
}

div#start {
    /* margin: 2rem; */
    width: 50.8rem;
    height: 70.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

img.closer {
    margin: 4rem 0;
    cursor: pointer;
}

div#start::before {
    content: url(/images/cards/drag.png);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, 0%);
}