mixin siteFooter()
  footer.site-footer
    .footer-top
      div
        .footer-contact-label Связаться
        .footer-contact-title Напишите мне
      .footer-links
        a.footer-link(href='mailto:dimazvali@gmail.com')
          span.footer-link-label email
          span dimazvali@gmail.com
        a.footer-link(href='https://t.me/dimazvali')
          span.footer-link-label telegram
          span @dimazvali
        a.footer-link(href='https://instagram.com/dimazvali2')
          span.footer-link-label instagram
          span @dimazvali2
    .footer-bottom-wrap
      .footer-bottom
        span © dimazvali.com
        span#footer-time გამარჯობა!
