extends layout

block content
  .stat-cards
    .stat-card
      .num #{stats.menus}
      .label Меню
    .stat-card
      .num #{stats.news}
      .label Статьи
    .stat-card
      .num #{stats.registrations}
      .label Регистрации
    .stat-card
      .num #{stats.team}
      .label Команда
