extends layout

block content
  .stat-cards
    .stat-card
      .num #{stats.menus}
      .label Menus
    .stat-card
      .num #{stats.news}
      .label Articles
    .stat-card
      .num #{stats.registrations}
      .label Registrations
    .stat-card
      .num #{stats.team}
      .label Team members
