doctype html
html
  head
    meta(charset='utf-8')
    title Вход | Pelamushi Admin
    link(rel='stylesheet' href='/stylesheets/pelamushi/admin.css')
  body
    .login-wrap
      .login-card
        .logo
          img(src='/images/pelamushi/logo1.png' alt='Pelamushi')
        h2 Вход в админку
        if error
          .alert.alert-error
            | #{error === 'wrong' ? 'Неверный пароль' : error}
        form(action='/admin/login' method='POST')
          .form-row
            label Пароль
            input(type='password' name='password' placeholder='••••••••' autocomplete='current-password' autofocus)
          button.btn.btn-primary(type='submit' style='width:100%') Войти
