
doctype html
html
  head
    title Амдминская прилога
    script(src='https://telegram.org/js/telegram-web-app.js')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js')
    script(src='/javascripts/common.js')
    script(src='/javascripts/igrik/admin2.js')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap")
    link(rel="stylesheet", href="/stylesheets/igrik/webapp.css")
    script!=`let start=${start}` 
  body.mobile.p.admin