.sDivided
    .details
    .flex
        .left
            a
                img(src!=p.pic alt!=p.name)
    .right
        h2
            a(href!=`${p.section ? `/${p.section}` : ''}/${p.slug}`)!=p.name
        p!=p.description
