doctype html
html(data-theme='dark')
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/photo/style.css')
  body
    .admin-login
      .admin-login-box
        .admin-logo AERO
        span.admin-sub ADMIN
        if error
          p.admin-error= error
        form(method='POST' action='/admin/login')
          input.admin-input(type='password' name='pass' placeholder='пароль' autofocus)
          button.admin-btn(type='submit') ВОЙТИ
