extends site

block content
    img.cover(src!=data.pic||randomPic() alt!=data.name)
    a(href!=`/auditoria/site/${city}/authors`) Вернуться к списку авторов
    h1!=data.name
    p.bold!=data.description
    if (data.classes)
        table
            for c in data.classes
                include classLine
    p!=`Подписаться на обновления и забронировать место можно в нашем <a href="https://t.me/AuditoraBot/app?startapp=author_${data.id}">приложении</a>.`
    //- +subscription('authors',data.id)