.flex
    img.ava(src!=c.pic||randomPic() style!=randomStyle())
    div
        h3!=c.name
        if(c.description)
            p!=c.description
        a(href=`/auditoria/site/authors/${c.id}`) Подробнее