extends layout

block content
  .about-page
    h2.about-title ОБО МНЕ
    img.about-photo(src='https://storage.googleapis.com/photo-dimazvalimisc/images/ks-05065-1780908582473-800.webp' alt='Дмитрий Шестаков')
    p.about-text.
      გამარჯობა!
      Меня зовут Дмитрий Шестаков. И вообще-то я журналист из Петербурга. Но в частоности — разработчик из Тбилиси. Или фотограф. Или велосипедист. По обстоятельствам.
    .about-contact
      span.about-label КОНТАКТ
      a.about-link(href='mailto:dimazvali@gmail.com') email
      a.about-link(href='https://t.me/dimazvali') telegram
      a.about-link(href='https://www.instagram.com/dimazvali2') instagram
      
