p.story {
    color: var(--dark);
}

h1 {
    color: var(--dark);
}

h3>a {
    color: var(--dark);
}
body {
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 600px;
}

.headerA,
img.cover,
p.footer {
    display: block;
    background: var(--dark);
    margin: 0;
    padding: 20px;
    margin-left: -20px;
    width: calc(100% + 40px);
    box-sizing: border-box;
}

.headerA{
    color: white;
}
.story>a{
    color: var(--dark) !important;
    font-weight: bold;
}

span.visitors {
    position: absolute;
    top: 0;
    right: 0;
}

.class {
    position: relative;
}

span.visitors::before {
    content: '🧻';
}

body {
    background: var(--dark);
    padding: 20px;
}

div#content {
    background: var(--light);
    border-radius: 20px;
    padding: 10px 20px;
    overflow: hidden;
    position: relative;
}

.class:last-child {
    border-bottom: none;
}


img.cover{
    padding: 0;
}

p.timing {
    margin-bottom: -10px;
}

.whiteLink{
    color: white;
}

img.cover.up {
    margin-top: -10px;
}

.redirectTab {
    position: fixed;
    bottom: 0;
    background: var(--accent);
    margin-left: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 20px 20px;
    animation: slideUp 1s;
    color: white !important;
}


@keyframes slideUp{
    0%{
        bottom: -100vh;
    }
    100%{
        bottom: 0;
    }
}


span.closeMe {
    position: absolute;
    top: 20px;
    right: 30px;
    background: var(--dark);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

img.ticket {
    position: absolute;
    margin-top: 40px;
    right: 40px;
}

img.galPic {
    width: 100%;
    border-radius: 10px;
    max-height: 50vh;
    object-fit: cover;
}

.galleryContainer>div {
    width: 80%;
}

.galleryContainer.flex {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.galleryContainer.flex>div {
    min-width: 80%;
    margin-right: 30px;
}