extends site

block back
    a.headerA(href="/")!=`❰ На главную`
block content
    h2!=translations.coworking[lang] 
    div
        for h in halls
            include hallLine
    div.hidden
        h3 Правила
        for rule in coworkingRules[lang]
            p!=rule
    button.dateButton.dark(onclick="this.previousElementSibling.classList.remove('hidden'),this.remove()") Показать правила коворкинга