extends site

block content
    h1 Что это тут у нас?..
    .sDivided
        h2(onclick='window.open("/paper/mini/classes")') Лекторий 
    .sDivided
        h2(onclick='window.open("/paper/mini/authors")') Резиденты
    .sDivided
        h2(onclick='window.open("/paper/mini/staff")') Редакция