
doctype html
html
  head
    title!=title || `Papers Kartuli`
    meta(name="yandex-verification" content="475ef9740ed79940")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content!=(clearTags(description) || 'Попробуйте — вам понравится.'))
    meta(property='og:title' content!=(title || `Papers Kartuli`))
    meta(property='og:description' content!=(clearTags(description) || 'Попробуйте — вам понравится.'))
    link(rel='icon', type="image/x-icon", href='/images/papers/favicon.ico')
    if (image)
      meta(property='og:image' content!=image)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js')
    script!=`translations = ${JSON.stringify(translations)}`
    script!=`coworkingRules=${JSON.stringify(rules)}`
    script(src='/javascripts/common.js')
    script(src='/javascripts/papers/mini.js')
    link(rel='stylesheet', href='/stylesheets/papers/webapp.css')
    link(rel='stylesheet', href='/stylesheets/papers/mini.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap")
  body
    block back
    #content
      block content 
  include footer 