
doctype html
html
  head
    title PressPapers
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(type='description' content='Попробуйте — вам понравится.')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js')
    script!=`translations = ${JSON.stringify(translations)}`
    script!=`coworkingRules=${JSON.stringify(rules)}`
    script(src='/javascripts/common.js')
    link(rel='stylesheet', href='/stylesheets/papers/webapp.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap")
  body
    block content 
  include footer 